# Deliverable 2. Create a Customer Travel Destinations Map.
----
1. Create a folder called `Vacation_Search` to save all the files related with this deliverable.

2. Download the `Vacation_Search_starter_code.ipynb` Jupyter notebook,save it into your `Vacation_Search folder`, and rename it as `Vacation_Search.ipynb`.

3. In the `Vacation_Search.ipynb` file, ensure that the dependencies and the Google API key is imported correctly.

4. From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame named `city_data_df`.

5. Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

6. Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected. Name the DataFrame as `preferred_cities_df`.

7. Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

8. Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

9. Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

10. Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

11. Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

12. Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

13. Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

14. Review the formatting template provided that you'll use to add an information box to each marker in the map. In the pop-up for each city you'll add:

    1. The city name.

    2. The country code.

    3. The weather description and maximum temperature for the city.

15. Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

16. Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

17. Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

18. Take a screenshot of your map and save it to the `Vacation_Search` folder as `WeatherPy_vacation_map.png`.
---

## Ensure that the dependencies and the Google API key is imported correctly.

In [16]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import Google API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

## From the `Weather_Database` folder you created in the "Deliverable 1," import the `WeatherPy_Database.csv` file as a Pandas DataFrame.

In [17]:
# Set the file path to import the WeatherPy_database.csv file
file_path = "../Weather_Database/WeatherPy_database.csv"

# Load the CSV file into a Pandas DataFrame
city_data_df = pd.read_csv(file_path)

# Display sample data
city_data_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Saint-Philippe,RE,-21.3585,55.7679,71.19,83,58,8.52,broken clouds
1,1,Bluff,NZ,-46.6000,168.3333,58.80,78,100,4.90,overcast clouds
2,2,Puerto Ayora,EC,-0.7393,-90.3518,76.96,82,73,10.00,broken clouds
3,3,Svetlaya,RU,46.5389,138.3297,42.91,74,100,10.00,overcast clouds
4,4,Katsuura,JP,35.1333,140.3000,63.39,81,26,6.15,scattered clouds
5,5,San Juan Bautista,PE,-14.0108,-75.7358,84.87,34,70,14.79,broken clouds
6,6,Hithadhoo,MV,-0.6000,73.0833,81.03,78,100,14.63,overcast clouds
7,7,Atuona,PF,-9.8000,-139.0333,77.32,81,11,14.67,few clouds
8,8,Iskateley,RU,67.6803,53.1512,14.34,95,87,8.34,overcast clouds
9,9,Havoysund,NO,70.9963,24.6622,34.03,83,100,3.65,overcast clouds

## Write two input statements that prompt the user to enter their minimum and maximum temperature criteria for their vacation.

In [18]:
# Prompt the user to enter the minimum temperature criteria
min_temp = float(input("What is the minimum temperature you would like for your trip?"))

# Prompt the user to enter the maximum temperature criteria
max_temp = float(input("What is the maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the maximum temperature you would like for your trip?90

## Create a new Pandas DataFrame by using the `loc` Pandas method to filter the `city_data_df` DataFrame for temperature criteria  collected.

In [19]:
# Filter the city_data_df DataFrame to find the cities that fit the criteria using the loc Pandas function
preferred_cities_df = preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
                                    
# Display sample data
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Puerto Ayora,EC,-0.7393,-90.3518,76.96,82,73,10.00,broken clouds
5,5,San Juan Bautista,PE,-14.0108,-75.7358,84.87,34,70,14.79,broken clouds
6,6,Hithadhoo,MV,-0.6000,73.0833,81.03,78,100,14.63,overcast clouds
7,7,Atuona,PF,-9.8000,-139.0333,77.32,81,11,14.67,few clouds
11,11,Makakilo City,US,21.3469,-158.0858,79.61,53,75,9.22,broken clouds
19,19,Sao Jose Da Laje,BR,-9.0097,-36.0583,77.23,82,29,10.36,scattered clouds
23,23,Vaini,TO,-21.2000,-175.2000,78.96,94,40,6.91,scattered clouds
25,25,Taoudenni,ML,22.6783,-3.9836,80.08,13,98,10.80,overcast clouds
26,26,Hilo,US,19.7297,-155.0900,76.12,88,100,10.36,light rain
27,27,Pucallpa,PE,-8.3791,-74.5539,86.04,66,75,2.30,broken clouds

## Create a new Pandas DataFrame named `clean_travel_cities` by using the Pandas `dropna` function on the `preferred_cities_df` to drop any empty rows.

In [20]:
# Drop any empty rows in the preferred_cities_df DataFrame and create a new DataFrame.
clean_travel_cities = preferred_cities_df.dropna()

# Display sample data
clean_travel_cities.count()

City_ID                181
City                   181
Country                181
Lat                    181
Lng                    181
Max Temp               181
Humidity               181
Cloudiness             181
Wind Speed             181
Current Description    181
dtype: int64

## Use the `copy` Pandas function to create a new DataFrame, called `hotel_df`, by copying the following columns from the `clean_travel_cities` DataFrame: "City", "Country", "Max Temp", "Current Description", "Lat", "Lng".

In [21]:
# Create DataFrame called hotel_df by copying some columns from the clean_travel_cities DataFrame.
hotel_df = clean_travel_cities[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]]

# Display sample data
hotel_df.head(10)

                 City Country  Max Temp Current Description      Lat       Lng
2        Puerto Ayora      EC     76.96       broken clouds  -0.7393  -90.3518
5   San Juan Bautista      PE     84.87       broken clouds -14.0108  -75.7358
6           Hithadhoo      MV     81.03     overcast clouds  -0.6000   73.0833
7              Atuona      PF     77.32          few clouds  -9.8000 -139.0333
11      Makakilo City      US     79.61       broken clouds  21.3469 -158.0858
19   Sao Jose Da Laje      BR     77.23    scattered clouds  -9.0097  -36.0583
23              Vaini      TO     78.96    scattered clouds -21.2000 -175.2000
25          Taoudenni      ML     80.08     overcast clouds  22.6783   -3.9836
26               Hilo      US     76.12          light rain  19.7297 -155.0900
27           Pucallpa      PE     86.04       broken clouds  -8.3791  -74.5539

## Add a new empty column named `Hotel Name` to the `hotel_df` DataFrame.

In [22]:
# Add a new empty column, "Hotel Name", to the hotel_df DataFrame
hotel_df["Hotel Name"] = ""

# Display sample data
hotel_df.head(10)

C:\Users\an_ro\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,
5,San Juan Bautista,PE,84.87,broken clouds,-14.0108,-75.7358,
6,Hithadhoo,MV,81.03,overcast clouds,-0.6000,73.0833,
7,Atuona,PF,77.32,few clouds,-9.8000,-139.0333,
11,Makakilo City,US,79.61,broken clouds,21.3469,-158.0858,
19,Sao Jose Da Laje,BR,77.23,scattered clouds,-9.0097,-36.0583,
23,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,
25,Taoudenni,ML,80.08,overcast clouds,22.6783,-3.9836,
26,Hilo,US,76.12,light rain,19.7297,-155.0900,
27,Pucallpa,PE,86.04,broken clouds,-8.3791,-74.5539,

## Review the hotel search parameters provided. These parameters are the same we used in this module; you'll use them to search for a hotel for each city.

In [23]:
# Review the parameters to search for a hotel
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

## Use a for loop to iterate through the `hotel_df` DataFrame, retrieve the latitude and longitude of each city to find the nearest hotel based on the search parameters provided, then add the hotel name to the `hotel_df` DataFrame. If a hotel isn't found, skip to the next city.

In [24]:
# Iterate through the hotel DataFrame 
for index, row in hotel_df.iterrows():
    # Fetch latitude and longitude from the DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude as parameters to the params dictionary
    params["location"] = f"{lat},{lng}"
    
    # Set up the base URL for the Google Directions API to get JSON data
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # Make an API request and retrieve the JSON data from the hotel search
    hotels = requests.get(base_url, params=params).json()
    
    # Get the first hotel from the results and store the name, if a hotel isn't found skip the city
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

C:\Users\an_ro\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [25]:
# Display sample data
hotel_df.tail()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
628,Kaduna,NG,76.06,clear sky,10.5222,7.4383,HAMDALA HOTEL
629,Belmonte,BR,78.39,overcast clouds,-15.8631,-38.8828,Pousada Monte Carmelo O Pão
638,Dicabisagan,PH,77.90,clear sky,17.0818,122.4157,Nancy Montanes Bernardo
648,Matara,LK,76.59,overcast clouds,5.9485,80.5353,Amaloh Boutique Resort
659,Sao Lourenco,BR,81.50,broken clouds,-22.1164,-45.0544,Alzira Plaza Hotel

## Drop any rows in the `hotel_df` DataFrame where a hotel name is not found and store the resulting data into a new DataFrame named `clean_hotel_df`.

In [28]:
# Drop the rows where there is no Hotel Name.
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
clean_hotel_df= hotel_df.dropna()

# Display sample data
clean_hotel_df.head(10)

C:\Users\an_ro\anaconda3\envs\PythonData\lib\site-packages\pandas\core\generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,76.96,broken clouds,-0.7393,-90.3518,Finch Bay Galapagos Hotel
5,San Juan Bautista,PE,84.87,broken clouds,-14.0108,-75.7358,Hotel Las Dunas
6,Hithadhoo,MV,81.03,overcast clouds,-0.6000,73.0833,Scoop Guest House
7,Atuona,PF,77.32,few clouds,-9.8000,-139.0333,Villa Enata
11,Makakilo City,US,79.61,broken clouds,21.3469,-158.0858,Marriott's Ko Olina Beach Club
19,Sao Jose Da Laje,BR,77.23,scattered clouds,-9.0097,-36.0583,Pousada Gente Nossa
23,Vaini,TO,78.96,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
26,Hilo,US,76.12,light rain,19.7297,-155.0900,Hilo Hawaiian Hotel
27,Pucallpa,PE,86.04,broken clouds,-8.3791,-74.5539,Hotel Sol de Oriente - Pucallpa
41,San Patricio,US,85.93,overcast clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"

**Note:** If the resulting DataFrame is empty, uncomment the following code to load sample data into the `clean_hotel_df`.

In [ ]:
# In case of an empty DataFrame, load the sample data provided
# clean_hotel_df = pd.read_csv("WeatherPy_vacation-backup.csv")
# clean_hotel_df.head(10)

## Create an CSV file to store the `clean_hotel_df` DataFrame as `WeatherPy_vacation.csv` in the Vacation_Search folder.

In [29]:
# Set the file name.
output_data_file = "WeatherPy_Vacation.csv"

# Create a CSV file by using the clean_hotel_df DataFrame
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

### Review the formatting template provided that you'll use to add an information box to each marker in the map.

In the pop-up for each city you'll add: 

1. The city name

2. The country code

3. The weather description and maximum temperature for the city

In [30]:
# Review the formatting template provided
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

## Review the provided list comprehension code to retrieve the city data from each row, which will then be added to the formatting template and saved in the `hotel_info` list.

In [31]:
# Get the data from each row in the clean_hotel_df DataFrame, add it to the formatting template, and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# Display sample data
hotel_info[:10]

['\n<dl>\n<dt>Hotel Name</dt><dd>Finch Bay Galapagos Hotel</dd>\n<dt>City</dt><dd>Puerto Ayora</dd>\n<dt>Country</dt><dd>EC</dd>\n<dt>Current Weather</dt><dd>broken clouds and 76.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Las Dunas</dd>\n<dt>City</dt><dd>San Juan Bautista</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Current Weather</dt><dd>broken clouds and 84.87 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Scoop Guest House</dd>\n<dt>City</dt><dd>Hithadhoo</dd>\n<dt>Country</dt><dd>MV</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 81.03 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Villa Enata</dd>\n<dt>City</dt><dd>Atuona</dd>\n<dt>Country</dt><dd>PF</dd>\n<dt>Current Weather</dt><dd>few clouds and 77.32 °F</dd>\n</dl>\n',
 "\n<dl>\n<dt>Hotel Name</dt><dd>Marriott's Ko Olina Beach Club</dd>\n<dt>City</dt><dd>Makakilo City</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>broken clouds and 79.61 °F</dd>\n</dl>\n",
 '\n<dl>\n<dt>Hotel Name</dt><dd>Pousada Gente Nossa</dd>\n<dt>City</dt><dd>Sao Jose Da Laje</dd>\n<dt>Country</dt><dd>BR</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 77.23 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Keleti Beach Resort</dd>\n<dt>City</dt><dd>Vaini</dd>\n<dt>Country</dt><dd>TO</dd>\n<dt>Current Weather</dt><dd>scattered clouds and 78.96 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hilo Hawaiian Hotel</dd>\n<dt>City</dt><dd>Hilo</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>light rain and 76.12 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Hotel Sol de Oriente - Pucallpa</dd>\n<dt>City</dt><dd>Pucallpa</dd>\n<dt>Country</dt><dd>PE</dd>\n<dt>Current Weather</dt><dd>broken clouds and 86.04 °F</dd>\n</dl>\n',
 '\n<dl>\n<dt>Hotel Name</dt><dd>Motel 6 Sinton, TX</dd>\n<dt>City</dt><dd>San Patricio</dd>\n<dt>Country</dt><dd>US</dd>\n<dt>Current Weather</dt><dd>overcast clouds and 85.93 °F</dd>\n</dl>\n']

## Use the provided code snippet to retrieve the latitude and longitude from each row and store them in a new DataFrame called `locations`.

In [32]:
# Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

# Display sample data
locations.head(10)

        Lat       Lng
2   -0.7393  -90.3518
5  -14.0108  -75.7358
6   -0.6000   73.0833
7   -9.8000 -139.0333
11  21.3469 -158.0858
19  -9.0097  -36.0583
23 -21.2000 -175.2000
26  19.7297 -155.0900
27  -8.3791  -74.5539
41  28.0170  -97.5169

## Refactor your previous marker layer map code to create a marker layer map that will have pop-up markers for each city on the map.

In [33]:
# Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

# Create a figure to add the Google map as a layer
fig.add_layer(marker_layer)

# Display the figure containing the map
fig

Figure(layout=FigureLayout(height='420px'))